body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main{
    flex: 1 0 auto;
}
.blog-post{
    margin-bottom: 60px;
}
.blog-post-title{
    margin-bottom: 5px;
    font-size: 40px;
}
.blog-post-meta{
    margin-bottom: 20px;
    color: white;
    font-style: italic;
}
.bottom-space{
    margin-bottom: 30px;
    //padding-bottom: 25px;
}
.top-space{
    margin-top: 15px;
}