<!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="css/todolist.css"/>
      <link rel="icon" href="data:;base64,iVBORwOKGgo=">
      
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body background="blog pa backdrop.png">
        <header>
            <nav class="brown">
                <div class="nav-wrapper">
                    <a href="#" class="brand-logo">Owen Vandevelde</a>
                    <a class="dropdown-button btn right orange darken-1" href='#' data-activates='dropdown1'>Links</a>
                    <ul id="dropdown1" class="dropdown-content">
                        <li><a class="orange-text" href="index.html">Home</a></li>
                        <li class="divider"></li>
                        <li><a class="orange-text" href="admin.html">Admin</a></li>
                        <li class="divider"></li>
                        <li><a class="orange-text" href="task.html">Add Task</a></li>
                    </ul>
                </div>
            </nav>
        </header>
        <main>
            <div class="container">
                <div class="row">
                    <h1 class="center-align">To Do List</h1>
                </div>
                <div class="row">
                    <div class=" col s12 main-container">
                        
                    </div>
                </div>
            </div>
        </main>
        <footer class="page-footer brown">
            <div class="container">
                <p><a href="#">Top of page</a></p>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    @2016 Owen Vandevelde
                </div>
            </div>
        </footer>
      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="libs/backendless.js"></script>
      <script type="text/javascript" src="js/todoList.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
      <script type="text/javascript" src="js/handlebars-v4.0.5.js"></script>
      
      <script id="blogs-template" type="text/x-handlebars-template">
          {{#each posts }}
                <div class="blog-post">
                    <div class="card-panel orange lighten-4 col s6 offset-s3 bottom-space">
                        <h2 class="blog-post-title">{{title}}</h2>
                        <p class="blog-post-meta">At {{format created}} by {{authorEmail}}</p>
                        <div class="bottom-space">{{content}}</div>
                        <button class="btn btn-large waves-effect waves-light white-out-post orange bottom-space">Mark as Complete</button>
                        <button class="btn btn-large waves-effect waves-light trash orange darken-1 bottom-space" type="submit" name="action" data={{objectId}}>Delete</button>
                    </div>
                </div>
            {{/each}}
      </script>
      
      <script id="check-done-template" type="text/x-handlebars-template">
        <div class="white-text">
          <center><h4 class="blog-post-meta italic">Task has been marked as complete</h4></center>
          <center><button class="btn btn-large waves-effect waves-light white-in-post orange darken-1"><a href="index.html" class="white-text">Return to Home</a></button></center>
        </div>          
      </script>
      
    </body>
  </html>
